body {
    background-image: url("/assets/images/pattern-reduced.webp");
    background-repeat: repeat;
    background-size: 800px;
    animation: slide-up 80s linear infinite;
}

@keyframes slide-up {
    0% {
        background-position: 0 800px;
    }
    100% {
        background-position: 0 0;
    }
}