
<div style="height: 400px; width: 90%; border-color: black; align-items: center; text-align: center; border-width: 2px;">
Funcionalidades alumno
</div>

<div style="height: 400px; width: 90%; border-color: black; align-items: center; text-align: center; border-width: 2px;">
Funcionalidades profesor
</div>

<div style="height: 400px; width: 90%; border-color: black; align-items: center; text-align: center; border-width: 2px;">
    Funcionalidades admin
</div>


<!-- <div *ngIf="user.rol==='alumno'" style="height: 400px; width: 90%; border-color: black; align-items: center; text-align: center; border-width: 2px;">
    <p>Funcionalidades alumno</p>    
</div>
    
<div *ngIf="user.rol==='profesor'" style="height: 400px; width: 90%; border-color: black; align-items: center; text-align: center; border-width: 2px;">
    <p>Funcionalidades profesor</p>
</div>
    
<div *ngIf="user.rol==='admin'" style="height: 400px; width: 90%; border-color: black; align-items: center; text-align: center; border-width: 2px;">
    <p>Funcionalidades admin</p>
</div> -->