<section
    style="background-image: url(../../assets/images/pattern.jpg); background-repeat: repeat; background-size: 800px;"
    class="pt-5 pb-5 mt-0 min-vh-100">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                <h3 class="fs-6 mb-2 text-secondary text-center text-uppercase">Servicios</h3>
                <h2 class="display-5 mb-5 text-center">¿Qué servicio deseas utilizar?
                </h2>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-4 gy-xl-0">
            <div *ngIf="this.authService.rol==='alumno' || this.authService.rol==='profesor'" class="col-12 col-sm-6 col-xl-3">
              <app-service-card title="Asistente virtual" description="We"></app-service-card>
            </div>
            <div *ngIf="this.authService.rol==='alumno'" class="col-12 col-sm-6 col-xl-3">
                <app-service-card title="Generar resumen" description="We"></app-service-card>
            </div>
            <div *ngIf="this.authService.rol==='profesor'" class="col-12 col-sm-6 col-xl-3">
                <app-service-card title="Evaluación de competencias" description="We"></app-service-card>
            </div>
            <div *ngIf="this.authService.rol==='profesor'" class="col-12 col-sm-6 col-xl-3">
                <app-service-card title="Seleccionar alumno" description="We"></app-service-card>
            </div>
            <div *ngIf="this.authService.rol==='profesor'" class="col-12 col-sm-6 col-xl-3">
                <app-service-card title="Detector de plagios" description="We"></app-service-card>
            </div>
            <div *ngIf="this.authService.rol==='admin'" class="col-12 col-sm-6 col-xl-3">
                <app-service-card title="Visualizar alumnos" description="We"></app-service-card>
            </div>
            <div *ngIf="this.authService.rol==='admin'" class="col-12 col-sm-6 col-xl-3">
                <app-service-card title="Visualizar profesores" description="We"></app-service-card>
            </div>
            <div *ngIf="this.authService.rol==='admin'" class="col-12 col-sm-6 col-xl-3">
                <app-service-card title="Ver estadísticas" description="We"></app-service-card>
            </div>
          </div>
    </div>
</section>