<section class="p-5 align-items-center min-vh-100">

    <div id="chat" style="padding-bottom: 110px">

        <div *ngIf="respuesta" style="background-color: #333333" class="d-flex p-4 rounded justify-content-start mb-4">
            <img src="https://ui-avatars.com/api/?name=Llama&background=CA3433&color=fff"
                style="width: 40px; height: 40px;" class="object-cover h-8 w-8 rounded-circle" alt="">
            <div class="reply w-100 ps-4">{{respuesta}}</div>
        </div>

        <div class="d-flex flex-column" *ngFor="let msg of mensajes; let i = index">
            <div style="background-color: #747474" class="mb-4 d-flex p-4 rounded justify-content-start">
              <img src="https://ui-avatars.com/api/?name=Usuario" style="width: 40px; height: 40px;" class="object-cover rounded-circle" alt="">
              <div class="message w-100 px-4 rounded">{{ msg }}</div>
            </div>
            <div *ngIf="respuestas[i]" style="background-color: #333333" class="mb-4 d-flex p-4 rounded justify-content-start">
              <img src="https://ui-avatars.com/api/?name=Llama&background=CA3433&color=fff" style="width: 40px; height: 40px;" class="object-cover h-8 w-8 rounded-circle" alt="">
              <div class="reply w-100 ps-4">{{ respuestas[i] }}</div>
            </div>
          </div>
          

    </div>

    <div class="d-flex">
        <div style="position: fixed; left: 0px; right: 0px; bottom: 0px" class="mx-auto">
            <div class="pb-5 px-5">
                <div class="mb-2 d-flex justify-content-between">
                    <button type="button" (click)="this.authService.goToMainPage()"
                        class="btn btn-primary rounded-pill">Volver al menú principal</button>
                    <div>
                        <button *ngIf="this.authService.rol==='alumno'" (click)="promptGeneral()" type="button" class="btn btn-secondary rounded-pill me-1">General</button>
                        <button *ngIf="this.authService.rol==='alumno'" (click)="promptIngles()" type="button" class="btn btn-light rounded-pill me-1">Inglés</button>
                        <button *ngIf="this.authService.rol==='alumno'" (click)="promptLengua()" type="button" class="btn btn-success rounded-pill me-1">Lengua</button>
                        <button *ngIf="this.authService.rol==='alumno'" (click)="promptHistoria()" type="button"
                            class="btn btn-warning rounded-pill me-1">Historia</button>
                        <button *ngIf="this.authService.rol==='alumno'" (click)="promptMatematicas()" type="button" class="btn btn-danger rounded-pill">Matemáticas</button>
                    </div>
                </div>
                <textarea (keydown)="handleEnterKey($event)" [(ngModel)]="mensaje" placeholder="Escribe aquí..."
                    style="border-radius: 0.75rem; border: 1px solid; border-color: #afafaf;"
                    class="textarea removeStyle bg-light pe-5" role="textbox"></textarea>
                <div style="top: calc(100%-82px); right: 60px; bottom: 55px;" class="position-absolute">
                    <button (click)="enviarMensaje()" id="btnEnviar" class="btn btn-link text-dark">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>